.card{
background-color: black;
height: 600px;
width: 40%;
margin-left: 30%;
margin-right: 30%;
border-radius: 20px;
margin-top: 30px;
text-align: center;
}
.card-header{
    background-color: blanchedalmond;
    height: 50%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;

}
img{
    height: 200px;
    width: 200px;
    border: solid;
    border-radius: 50%;
}
p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
button{
    background-color: blanchedalmond;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
    width: 200px;
}